# Python
*.py[cod]
.ipynb_checkpoints

# IDE
.idea

# Poetry
pip-wheel-metadata
newreleases.egg-info

# Unit test / coverage reports
.cache
.coverage
.coverage.*
coverage.xml
.pytest_cache/

# Code check
.mypy_cache/

# Sphinx documentation
docs/_build/

# Mock configuration
config/
