# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info
VERSION

# Unit test / coverage reports
.cache
.coverage
.coverage.*
coverage.xml
.pytest_cache/

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# Development environment
.idea

# Mock configuration
config/
